.flex{
  display: flex;
  justify-content:space-between;
  padding: 0 20rem;
  margin-top: 2.5rem;
  /* left: 0%;
  top: 0%; */
}

.brideImage,.groomImage{
  transition: .3s ease;
  opacity: 1;
} 
.brideImage:hover > .hoverInfo {
  visibility:visible;
  z-index: 9;
}

.hoverInfo{
  width: 150px;
  position: relative;
  bottom: 50%;
  left: 20%;
  visibility: hidden;
}
.icons{
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 564px){
  .flex{
    display: block;
    padding: 0;

  }
}